///////////////////////////////////////////////
///////////////////////////////////////////////
// Typography
//

///////////////////////////////////////////////
// Slide content H2
//

h2 {
  opacity: 1;
  width: 72%;
  margin: 0 0 0 40px;
  position: absolute;
  @include fp(font-size, 14, 20);
  // font-weight: 400;
  top: 40%;
  transform: translateY(-40%);
  transition: color 2s ease;
  z-index: 1;
  // color: rgba($brand-alt, 0.8);
  span:nth-child(2) {
    cursor: pointer;
    // padding-bottom: 10px;
    // border-bottom: 1px solid $white;
  }
  @include md {
    width: 62%;
    margin: 0 0 0 60px;
  }
}

.invert {
  h2 {
    color: $black;
  }
}
